In [61]:
import pandas as pd
import numpy as np

In [62]:
pd.options.display.max_rows = 1000

In [63]:
pd.options.display.max_rows

1000

### TASK 1

In [64]:
# PARSE DATES INTO PANDAS READIBLE FORMAT
mydateparser = lambda x: pd.datetime.strptime(x, "%d.%m.%y %H:%M") if (type(x) == str and len(x) < 15) else (pd.datetime.strptime(x.split("+")[0], "%Y-%m-%dT%H:%M:%S.%f") if type(x) == str else np.nan)

In [65]:
# SELECT COLUMNS WITH DATES
test_date_columns = ['created_at', 'updated_at', 'authorized_at', 'last_event_time']
test_level_date_columns = ["created_at", "updated_at"]
class_date_columns = ["created_at", "updated_at", "latest_test_time"]

In [66]:
# READ CSVs, INSTANTLY PARSING DATES
test = pd.read_csv("test.csv", sep=";", parse_dates=test_date_columns, date_parser=mydateparser)
test_level = pd.read_csv("test_level.csv", sep=";", parse_dates=test_level_date_columns, date_parser=mydateparser)
class_ = pd.read_csv("class.csv", sep=";", parse_dates=class_date_columns, date_parser=mydateparser)

### TASK 2

not sure, which rows are "not correct". Need more info about data in here. I parsed dates into pandas date format and checked unique values of every column and to be honest did not found any "not correct" data.

### TASK 3

In [67]:
# PREPARE DFs TO MERGE
class_df = class_[["id", "name", "teaching_hours"]]
class_df = class_df.rename(columns={"id": "class_id", "name": "class_name"})

In [68]:
test_df = test[["id", "class_id", "created_at", "authorized_at", "test_level_id"]]
test_df = test_df.rename(columns={"id": "test_id", "created_at": "test_created_at", "authorized_at": "test_authorized_at", "test_level_id": "test_level"})

In [69]:
test_level_df = test_level[["id", "displayName"]]

In [70]:
test_df = pd.merge(test_df, test_level_df, left_on="test_level", right_on="id").drop(["test_level", "id"], axis=1)

In [71]:
test_df = test_df.rename(columns={"displayName": "test_level"})

In [72]:
test_utilization = pd.merge(class_df, test_df, left_on="class_id", right_on="class_id")

In [73]:
test_utilization.shape

(13039, 7)

In [74]:
# DROP NON AUTHORIZED
test_utilization = test_utilization.dropna(subset=["test_authorized_at"])

In [75]:
test_utilization.shape

(11420, 7)

In [76]:
# ENUMERATE EACH SOLVED TEST
test_utilization["class_test_number"] = test_utilization.groupby(['class_id']).cumcount().add(1)

In [77]:
test_utilization

,class_id,class_name,teaching_hours,test_id,test_created_at,test_authorized_at,test_level,class_test_number
0,1,QA Sanity,6-10,1,2018-07-06 11:37:00,2018-07-06 11:44:00,Level 1,1
1,1,QA Sanity,6-10,2,2018-07-06 11:49:00,2018-07-06 11:52:00,Level 1,2
5,1,QA Sanity,6-10,7,2018-07-06 12:17:00,2018-07-06 12:20:00,Level 1,3
14,5,new tell app release,3-5,14,2018-07-13 09:46:00,2018-07-13 09:49:00,Level 1,1
15,5,new tell app release,3-5,21,2018-07-13 15:53:00,2018-07-13 15:58:00,Level 1,2
...,...,...,...,...,...,...,...,...
13029,650,7-E,3-5,13583,2019-04-23 11:31:00,2019-04-24 08:20:00,Level 4,13
13030,650,7-E,3-5,13584,2019-04-23 11:31:00,2019-04-24 08:20:00,Level 4,14
13031,650,7-E,3-5,13585,2019-04-23 11:31:00,2019-04-24 08:20:00,Level 4,15
13035,652,ID-ALI-STEP UP,1-3,13613,2019-04-25 10:08:00,2019-04-25 10:14:00,Level 5,1
13038,653,Pinnacle,1-3,13630,2019-04-29 02:15:00,2019-04-29 02:34:00,Level 2,1

In [78]:
# CHANGE DATE FORMAT
test_utilization["test_created_at"] = test_utilization["test_created_at"].dt.strftime("%Y-%m-%d")
test_utilization["test_authorized_at"] = test_utilization["test_authorized_at"].dt.strftime("%Y-%m-%d")

In [79]:
test_utilization

,class_id,class_name,teaching_hours,test_id,test_created_at,test_authorized_at,test_level,class_test_number
0,1,QA Sanity,6-10,1,2018-07-06,2018-07-06,Level 1,1
1,1,QA Sanity,6-10,2,2018-07-06,2018-07-06,Level 1,2
5,1,QA Sanity,6-10,7,2018-07-06,2018-07-06,Level 1,3
14,5,new tell app release,3-5,14,2018-07-13,2018-07-13,Level 1,1
15,5,new tell app release,3-5,21,2018-07-13,2018-07-13,Level 1,2
...,...,...,...,...,...,...,...,...
13029,650,7-E,3-5,13583,2019-04-23,2019-04-24,Level 4,13
13030,650,7-E,3-5,13584,2019-04-23,2019-04-24,Level 4,14
13031,650,7-E,3-5,13585,2019-04-23,2019-04-24,Level 4,15
13035,652,ID-ALI-STEP UP,1-3,13613,2019-04-25,2019-04-25,Level 5,1
13038,653,Pinnacle,1-3,13630,2019-04-29,2019-04-29,Level 2,1

### TASK 4

In [80]:
test_average_scores = test_utilization.copy()

In [81]:
test_scores = test[["id", "overall_score", "test_status"]]
test_scores = test_scores.rename(columns={"id": "test_id"})

# KEEP JUST SCORING SCORED
test_scores = test_scores[test_scores["test_status"] == "SCORING_SCORED"]
test_scores = test_scores.drop("test_status", axis=1)

In [82]:
test_average_scores = test_average_scores.drop(["test_level", "class_test_number"], axis=1)

In [83]:
test_average_scores = pd.merge(test_average_scores, test_scores, on="test_id")
test_average_scores = test_average_scores.drop("test_id", axis=1)

In [84]:
test_average_scores["avg_class_test_overall_score"] = test_average_scores.groupby("class_id").mean()["overall_score"]

In [85]:
aggregation_mapping = {
    "class_name": "first",
    "teaching_hours": "first",
    "test_created_at": "first",
    "test_authorized_at": "first",
    "overall_score": "mean"
}

In [86]:
test_average_scores = test_average_scores.groupby("class_id").agg(aggregation_mapping)
test_average_scores = test_average_scores.rename(columns={"overall_score": "avg_class_test_overall_score"})

In [87]:
test_average_scores

,class_name,teaching_hours,test_created_at,test_authorized_at,avg_class_test_overall_score
class_id,,,,,
1,QA Sanity,6-10,2018-07-06,2018-07-06,16.500000
5,new tell app release,3-5,2018-07-13,2018-07-13,17.000000
6,0.6.0.0,1-3,2018-07-18,2018-07-18,21.000000
8,DCtest,11-15,2018-08-30,2019-01-29,24.000000
10,0.7.0.0,3-5,2018-08-02,2018-08-02,11.000000
11,Gimnacio del Norte Class,6-10,2018-08-09,2018-08-10,27.700000
12,Class 1A,6-10,2018-08-10,2018-08-10,19.333333
22,1.0.0.0 release,3-5,2018-08-17,2018-08-17,19.000000
23,Class 1A,15+,2018-08-19,2018-08-20,18.400000
24,Class 2B,6-10,2018-08-24,2018-08-24,10.000000
27,testprodenv,11-15,2018-08-21,2018-08-21,10.000000
29,5th A,3-5,2018-08-22,2018-08-23,29.260870
30,Class 3A,3-5,2018-08-24,2018-08-24,11.000000
31,Helen Demo 1,6-10,2018-11-26,2019-04-16,49.000000
32,"6 \""A\""",6-10,2018-08-26,2018-08-28,21.928571
33,"6 \""B\""",6-10,2018-08-26,2018-08-28,22.714286
34,"6 \""C\""",6-10,2018-08-26,2018-08-28,21.076923
35,"6 \""D\""",6-10,2018-08-26,2018-08-28,21.840000
37,1.0.0.2 release,3-5,2018-08-27,2018-08-27,19.666667
38,Academic Consultancy Unit,15+,2018-08-28,2018-09-14,35.500000
40,5Â°,6-10,2018-08-30,2018-08-30,26.833333
43,1st Grade 2018,3-5,2018-08-30,2018-08-31,15.000000
44,2nd Grade 2018,3-5,2018-08-30,2018-08-31,21.900000
45,3rd Grade 2018,3-5,2018-08-30,2018-08-31,23.062500
46,4th Grade 2018,3-5,2018-08-30,2018-08-31,25.111111
47,5th Grade 2018,3-5,2018-08-30,2018-08-31,25.900000
48,6th Grade 2018,3-5,2018-08-30,2018-08-31,32.500000
49,Demo EB,3-5,2018-08-31,2018-08-31,32.000000
52,Colegio 10 de Mayo Reposicion,3-5,2018-08-31,2018-08-31,23.000000
53,1.1.1.0,11-15,2018-09-03,2018-09-03,22.000000
54,Instituto Tenayuca PEB 03 Septiembre 18,6-10,2018-09-03,2018-09-03,18.814815
55,Demo CA,3-5,2018-09-04,2018-09-04,29.000000
57,FRAY JUAN PRIMERO A,6-10,2018-09-04,2018-09-05,15.434783
58,FRAY JUAN PRIMERO B,6-10,2018-09-04,2018-09-05,14.230769
59,FRAY JUAN SEGUNDO A,6-10,2018-09-04,2018-09-05,19.826087
61,FRAY JUAN TERCERO A,6-10,2018-09-04,2018-09-05,22.666667
63,FRAY JUAN CUARTO A,6-10,2018-09-04,2018-09-05,25.058824
65,FRAY JUAN QUINTO A,6-10,2018-09-04,2018-09-05,26.300000
67,FRAY JUAN SEXTO A,6-10,2018-09-04,2018-09-05,32.800000
69,PIAVE PRIMERO A,11-15,2018-09-04,2018-09-06,17.083333
70,PIAVE PRIMERO B,11-15,2018-09-04,2018-09-19,14.666667
71,PIAVE SEGUNDO A,11-15,2018-09-04,2018-09-06,21.250000
72,PIAVE SEGUNDO B,11-15,2018-09-04,2018-09-19,22.428571
73,PIAVE TERCERO A,11-15,2018-09-04,2018-09-06,24.800000
74,PIAVE TERCERO B,11-15,2018-09-04,2018-09-06,25.000000
75,PIAVE CUARTO A,11-15,2018-09-04,2018-09-06,28.666667
76,PIAVE CUARTO B,11-15,2018-09-04,2018-09-19,28.750000
77,PIAVE QUINTO A,11-15,2018-09-04,2018-09-06,32.666667
78,PIAVE QUINTO B,11-15,2018-09-04,2018-09-06,30.200000
79,PIAVE SEXTO A,11-15,2018-09-04,2018-09-06,33.071429
80,PIAVE SEXTO B,11-15,2018-09-04,2018-09-06,33.357143
85,LaLoma_6toA,6-10,2018-09-06,2018-09-07,NaN
86,LaLoma_2do A,3-5,2018-09-06,2018-09-07,24.000000
87,LaLoma_3ro A,6-10,2018-09-06,2018-09-07,NaN
88,LaLoma_4toA,6-10,2018-09-06,2018-09-07,23.000000
89,LaLoma_5to A,6-10,2018-09-06,2018-09-07,NaN
90,LaLoma_1roA,3-5,2018-09-06,2018-09-07,14.111111
91,LaLoma_2do B,6-10,2018-09-06,2018-09-07,21.000000
92,Demo TELL Internacional,3-5,2018-09-06,2018-09-06,25.625000
94,China Launch 2018,3-5,2018-09-07,2018-09-11,27.000000
105,BritAcademy_1_A,6-10,2018-09-10,2018-09-11,16.217391
106,BritAcademy_1_B,6-10,2018-09-10,2018-09-11,18.333333
107,BritAcademy_1_C,6-10,2018-09-10,2018-09-11,18.904762
108,BritAcademy_2_A,6-10,2018-09-10,2018-09-11,24.700000
109,BritAcademy_2_B,6-10,2018-09-10,2018-09-11,24.529412
110,BritAcademy_2_C,6-10,2018-09-10,2018-09-11,23.111111
111,BritAcademy_3_A,6-10,2018-09-10,2018-09-11,28.187500
112,BritAcademy_3_B,6-10,2018-09-10,2018-09-11,25.368421
113,Colegio Javier Pilot,3-5,2018-09-10,2018-09-12,47.500000
114,BritAcademy_4_A,6-10,2018-09-10,2018-09-12,28.933333
115,BritAcademy_4_B,6-10,2018-09-10,2018-09-12,30.235294
116,BritAcademy_5_A,6-10,2018-09-10,2018-10-29,30.333333
117,BritAcademy_5_B,6-10,2018-09-10,2018-09-12,31.733333
118,BritAcademy_6_A,6-10,2018-09-10,2018-09-12,35.444444
119,BritAcademy_6_B,6-10,2018-09-10,2018-09-12,34.500000
121,Bahcesehir Class-2,6-10,2018-09-11,2018-09-12,16.166667
122,Bahcesehir Class-3,6-10,2018-09-11,2018-09-12,24.000000
123,Bahcesehir Class-4,6-10,2018-09-11,2018-09-12,25.363636
124,Beylikduzu Class-2,6-10,2018-09-12,2018-09-13,16.727273
125,Beylikduzu Class-3,6-10,2018-09-12,2018-09-13,24.319149
126,Beylikduzu Class-4,6-10,2018-09-12,2018-09-13,25.413793
127,Distexa training,3-5,2018-09-11,2018-09-11,21.600000
128,Wozniak_1A,6-10,2018-09-13,2018-10-24,12.958333
129,Wozniak_2A,6-10,2018-09-13,2018-09-14,20.700000
130,Wozniak_3A,6-10,2018-09-13,2018-09-14,23.500000
131,Wozniak_4A,6-10,2018-09-13,2018-09-14,24.888889
132,Wozniak_5A,6-10,2018-09-13,2018-10-18,NaN
133,Wozniak_6A,6-10,2018-09-13,2018-09-13,32.666667
134,1.2.0.0 release,3-5,2018-09-13,2018-09-13,27.250000
135,WEEK1 REPUBLICA ARABE DE EGIPTO 4th Grade,6-10,2018-09-14,2018-09-24,15.884298
136,WEEK1 REPUBLICA ARABE DE EGIPTO 5th Grade,6-10,2018-09-14,2018-09-21,18.032520
137,WEEK1 REPUBLICA DE LA INDIA 4th Grade,6-10,2018-09-14,2018-09-18,16.044248
138,WEEK1 REPUBLICA DE LA INDIA 5th Grade,6-10,2018-09-14,2018-09-19,17.387097
139,Colegio Javier Pilot 2,3-5,2018-09-18,2018-09-20,34.343137
140,Class 1A,1-3,2018-09-18,2018-09-18,NaN
141,Class 1B,15+,2018-09-18,2018-09-18,NaN
144,Class for DengShiKou,3-5,2018-09-19,2018-09-19,19.500000
146,Netherlands demo,11-15,2018-09-20,2018-10-02,42.000000
148,New Oriental Group,6-10,2018-09-21,2018-10-06,24.500000
149,Shishangxunda,6-10,2018-09-21,2018-10-09,30.500000
153,Cukurambar\t2-A,6-10,2018-09-21,2018-09-25,18.826087
154,Cukurambar\t2-B,6-10,2018-09-21,2018-09-24,19.080000
155,Cukurambar\t2-C,6-10,2018-09-21,2018-09-24,19.500000
156,Cukurambar\t3-A,6-10,2018-09-21,2018-09-24,25.333333
157,Cukurambar\t3-B,6-10,2019-02-18,2019-02-19,24.861111
158,Cukurambar\t3-C,6-10,2018-09-21,2018-09-25,24.781250
159,Cukurambar\t3-D,6-10,2019-02-18,2019-02-19,24.764706
160,Cukurambar\t4-A,6-10,2018-09-21,2018-09-26,26.529412
161,Cukurambar\t4-B,6-10,2018-09-21,2018-09-26,26.411765
162,Cukurambar\t4-C,6-10,2018-09-21,2018-09-25,27.000000
163,Cukurambar\t5-A,6-10,2018-09-21,2018-09-24,26.312500
164,Cukurambar\t5-B,6-10,2018-09-21,2018-09-25,27.156250
165,Cukurambar\t5-C,6-10,2018-09-21,2018-09-26,27.281250
166,Cukurambar\t6-A,6-10,2018-09-21,2018-09-24,28.370370
167,Cukurambar\t6-B,6-10,2018-09-21,2018-09-26,27.500000
168,Cukurambar\t7-A,6-10,2019-01-12,2019-01-14,33.756757
169,Cukurambar\t7-B,6-10,2019-02-18,2019-02-19,30.000000
170,Cukurambar\t7-C,6-10,2019-01-12,2019-01-15,29.640000
171,Umitkoy\t2-A,6-10,2018-09-21,2018-09-27,16.611111
172,Umitkoy\t2-B,6-10,2018-09-21,2018-09-27,17.222222
173,Umitkoy\t2-C,6-10,2018-09-21,2018-09-27,20.500000
174,Umitkoy\t3-A,6-10,2019-02-18,2019-02-20,22.847826
175,Umitkoy\t3-B,6-10,2019-02-18,2019-02-20,23.613636
176,Umitkoy\t4-A,6-10,2019-02-18,2019-02-20,26.437500
178,WEEK6 SANTA ISABEL,6-10,2018-09-22,2018-10-23,16.921875
179,WEEK4 ESCUELA JOSE DEL C. MEJIA,6-10,2018-09-22,2018-10-10,15.455882
180,WEEK4 ESCUELA MARCO ALARCON,6-10,2018-09-22,2018-10-10,16.664286
181,WEEK6 ESCUELA SANTA FE,6-10,2018-09-23,2018-10-24,16.105263
182,WEEK6 C.E.B.G. CLÄºMACO DELGADO B.,6-10,2018-09-23,2018-10-24,17.304878
183,WEEK4 ESCUELA PRIMARIA ZAPALLAL,6-10,2018-09-23,2018-10-25,16.440678
187,Colegio Javier Pilot 3,3-5,2018-09-26,2018-10-18,33.180723
188,Class 1,3-5,2018-09-26,2018-09-26,NaN
189,Class 2,6-10,2018-10-11,2018-10-11,19.500000
193,1.3.0.0 Release,6-10,2018-09-27,2018-09-27,28.000000
194,Pearson Shanghai,6-10,2018-09-28,2018-10-22,29.166667
195,Cekmekoy 7-A,6-10,2018-09-28,2018-10-02,29.791667
196,Cekmekoy 6-A,6-10,2018-09-28,2018-10-18,31.000000
197,Cekmekoy 5-A,6-10,2018-09-28,2018-10-02,32.812500
198,Cekmekoy 4-A,6-10,2018-09-28,2018-10-02,25.153846
199,Cekmekoy 3-A,6-10,2018-09-28,2018-10-02,24.846154
200,Cekmekoy 2-A,6-10,2018-09-28,2018-10-02,23.222222
201,WEEK3 CEBG EL EMPALME,6-10,2018-09-30,2018-10-05,15.233429
202,WEEK3 CEBG FINCA 62,6-10,2018-09-30,2018-10-03,14.764286
203,WEEK3 CEBG MARIANO THOMAS,6-10,2018-09-30,2018-10-02,14.727273
204,Herradura Interview,6-10,2018-10-01,2018-10-08,22.666667
206,Bahcesehir Class-5A,6-10,2018-10-03,2018-10-04,26.000000
207,Bahcesehir Class-5B,6-10,2018-10-03,2018-10-04,27.916667
208,Bahcesehir Class-5C,6-10,2018-10-03,2018-10-04,34.416667
209,Bahcesehir Class-6A,6-10,2018-10-03,2018-10-04,31.800000
210,Bahcesehir Class-6B,6-10,2018-10-03,2018-10-04,27.727273
211,Bahcesehir Class-7A,6-10,2018-10-03,2018-10-04,33.588235
212,Bahcesehir Class-7B,6-10,2018-10-03,2018-10-04,28.117647
213,Demo Class Oct 4,1-3,2018-10-04,2018-10-05,22.000000
214,Class #1 with 30 students,3-5,2018-10-04,2018-10-04,NaN
215,Class #2 with 30 students,1-3,2018-10-04,2018-10-04,NaN
216,Class #1 with 30 students,11-15,2018-10-04,2018-10-04,NaN
217,Class #2 with 30 students,6-10,2018-10-04,2018-10-04,NaN
218,Class 1A,6-10,2018-10-04,2018-10-04,NaN
219,Class 1B,15+,2018-10-04,2018-10-04,NaN
220,Class #1 with 30 students,3-5,2018-10-04,2018-10-04,NaN
221,Class #2 with 30 students,6-10,2018-10-04,2018-10-04,NaN
222,Class #1 with 30 students,1-3,2018-10-04,2018-10-04,NaN
223,Class #2 with 30 students,1-3,2018-10-04,2018-10-04,NaN
224,Class #1 with 30 students,11-15,2018-10-04,2018-10-04,NaN
225,Class #2 with 30 students,3-5,2018-10-04,2018-10-04,NaN
226,Beylikduzu Class-5A,6-10,2018-10-04,2018-10-05,28.923077
227,Beylikduzu Class-5B,6-10,2018-10-04,2018-10-05,29.857143
228,Beylikduzu Class-6A,6-10,2018-10-04,2018-10-05,34.562500
229,Beylikduzu Class-6B,6-10,2018-10-04,2018-10-05,27.777778
230,Beylikduzu Class-7A,6-10,2018-10-04,2018-10-05,38.200000
231,Beylikduzu Class-7B,6-10,2018-10-04,2018-10-05,30.764706
232,Beylikduzu Class-7C,6-10,2018-10-04,2018-10-05,29.647059
234,Test,3-5,2018-11-16,2018-11-16,32.000000
236,Pearson Japan Internal use,1-3,2018-10-11,2018-12-04,26.777778
238,South Korea Demo Class #1,1-3,2018-10-12,2018-10-23,37.222222
241,WEEK5 ESCUELA CARLOS CLEMENT,6-10,2018-10-15,2018-10-16,16.108108
242,WEEK5 ESCUELA PABLO AROSEMENA,6-10,2018-10-15,2018-10-25,16.222222
244,WEEK5 ESCUELA ENRIQUE GENZIER,6-10,2018-10-15,2018-10-15,15.732143
247,WEEK5 ESCUELA MANUEL URBANO AYARZA,6-10,2018-10-15,2018-10-16,15.670455
250,1.4.1.0,1-3,2018-10-15,2018-10-15,13.000000
259,Level 1,3-5,2018-10-24,2018-10-24,26.000000
261,Pearson Shanghai For Ouwen,6-10,2018-10-24,2018-11-18,39.000000
262,Class #1 with 30 students,6-10,2018-10-24,2018-10-24,NaN
263,Class #2 with 30 students,11-15,2018-10-24,2018-10-24,NaN
264,Class #1 with 30 students,1-3,2018-10-24,2018-10-24,NaN
265,Class #2 with 30 students,1-3,2018-10-24,2018-10-24,NaN
266,Class #1 with 30 students,11-15,2018-10-24,2018-10-24,NaN
267,Class #2 with 30 students,6-10,2018-10-24,2018-10-24,NaN
268,Class #1 with 30 students,1-3,2018-10-24,2018-10-24,NaN
269,Class #2 with 30 students,1-3,2018-10-24,2018-10-24,NaN
270,Class #1 with 30 students,15+,2018-10-24,2018-10-24,NaN
271,Class #2 with 30 students,11-15,2018-10-24,2018-10-24,NaN
272,Class #1 with 30 students,1-3,2018-10-24,2018-10-24,NaN
273,Class #2 with 30 students,3-5,2018-10-24,2018-10-24,NaN
274,Class #1 with 30 students,6-10,2018-10-24,2018-10-24,NaN
275,Class #2 with 30 students,11-15,2018-10-24,2018-10-24,NaN
276,Class #1 with 30 students,1-3,2018-10-24,2018-10-24,NaN
277,Class #2 with 30 students,15+,2018-10-24,2018-10-24,NaN
278,Class #1 with 30 students,3-5,2018-10-24,2018-10-24,NaN
279,Class #2 with 30 students,11-15,2018-10-24,2018-10-24,NaN
280,Class #1 with 30 students,1-3,2018-10-24,2018-10-24,NaN
281,Class #2 with 30 students,15+,2018-10-24,2018-10-24,NaN
284,121,3-5,2018-10-29,2018-10-29,20.000000
285,1.5.0.0,3-5,2018-10-29,2018-10-29,13.000000
288,Training 1,6-10,2019-01-16,2019-01-16,11.500000
289,Erkan Ulu 5-A,6-10,2018-11-02,2018-11-06,35.958333
290,Erkan Ulu 5-B,6-10,2019-01-09,2019-01-15,35.413793
291,Erkan Ulu 6-A,6-10,2018-11-08,2018-11-13,36.571429
292,Erkan Ulu 6-B,6-10,2019-02-25,2019-02-26,39.000000
293,Erkan Ulu 6-C,6-10,2019-02-25,2019-02-26,36.540541
307,Malaysia DEMO,1-3,2018-11-06,2018-11-07,36.000000
309,2A,6-10,2018-11-06,2018-11-07,17.150000
310,2B,6-10,2018-11-06,2018-11-07,16.966667
311,3A,6-10,2018-11-06,2018-11-07,19.961538
312,3B,6-10,2018-11-06,2018-11-07,22.676471
313,3C,6-10,2018-11-06,2018-11-07,19.620690
314,4A,6-10,2019-02-19,2019-02-28,27.192308
315,4B,6-10,2019-02-19,2019-02-28,24.031250
316,5A,6-10,2018-11-06,2018-11-07,30.000000
317,5B,6-10,2018-11-06,2018-11-07,21.965517
318,6A,6-10,2018-11-06,2018-11-08,26.884615
319,6B,6-10,2018-11-06,2018-11-08,25.000000
320,7A,6-10,2018-11-06,2018-11-08,26.562500
321,7B,6-10,2018-11-06,2018-11-08,28.810811
322,Year 1,11-15,2018-11-06,2018-11-07,18.222222
323,Year 2,11-15,2018-11-06,2018-11-07,15.750000
324,Year 3,11-15,2018-11-06,2018-11-07,22.250000
325,Year 4,11-15,2018-11-06,2018-11-07,24.000000
326,Year 5,11-15,2018-11-07,2018-11-07,24.666667
327,Year 6,11-15,2018-11-07,2018-11-07,24.750000
328,Year 7,11-15,2018-11-06,2018-11-07,25.500000
329,Year 8,11-15,2018-11-06,2018-11-07,29.000000
334,KSD Demo,1-3,2018-11-07,2018-11-08,19.781250
336,Demo Evento MePro,6-10,2018-11-07,2018-11-09,40.000000
353,HS M Pilot Nov 2018--4th Grade,1-3,2018-11-16,2018-11-20,21.270270
354,HS T Pilot Nov 2018--4th Grade,1-3,2018-11-16,2018-11-21,21.805556
355,ASAS Argentina,3-5,2018-11-16,2018-11-17,40.000000
356,Sichun Aisam Forr Chrissie,3-5,2018-11-19,2018-11-22,26.000000
358,ATAKENT-5A,6-10,2018-11-19,2018-11-21,31.625000
359,ATAKENT-5B,6-10,2018-11-19,2018-11-21,31.958333
360,ATAKENT-5C,6-10,2018-11-19,2018-12-05,31.608696
361,skw111,15+,2018-11-19,2018-11-19,12.000000
366,EB TEST FOR PC EMULATORS,11-15,2018-11-22,2018-11-22,27.000000
368,ä¼´é±¼ For Jill,3-5,2018-11-23,2019-02-14,37.500000
369,1.6.0.0,1-3,2018-11-26,2018-11-26,19.000000
372,class 1,6-10,2018-12-13,2018-12-13,28.400000
377,Class #1 with 30 students,3-5,2018-11-30,2018-11-30,NaN
378,Class #2 with 30 students,1-3,2018-11-30,2018-11-30,NaN
379,Class #1 with 30 students,6-10,2018-11-30,2018-11-30,NaN
380,Class #2 with 30 students,11-15,2018-11-30,2018-11-30,NaN
381,Class #1 with 30 students,15+,2018-11-30,2018-11-30,NaN
382,Class #2 with 30 students,3-5,2018-11-30,2018-11-30,NaN
383,Class #1 with 30 students,1-3,2018-11-30,2018-11-30,NaN
384,Class #2 with 30 students,1-3,2018-11-30,2018-11-30,NaN
385,Class #1 with 30 students,11-15,2018-11-30,2018-11-30,NaN
386,Class #2 with 30 students,11-15,2018-11-30,2018-11-30,NaN
387,Class #1 with 30 students,11-15,2018-11-30,2018-11-30,NaN
388,Class #2 with 30 students,3-5,2018-11-30,2018-11-30,NaN
389,Class #1 with 30 students,3-5,2018-11-30,2018-11-30,NaN
390,Class #2 with 30 students,11-15,2018-11-30,2018-11-30,NaN
391,Class #1 with 30 students,15+,2018-11-30,2018-11-30,NaN
392,Class #2 with 30 students,11-15,2018-11-30,2018-11-30,NaN
393,Class #1 with 30 students,1-3,2018-11-30,2018-11-30,NaN
394,Class #2 with 30 students,3-5,2018-11-30,2018-11-30,NaN
395,Class #1 with 30 students,15+,2018-11-30,2018-11-30,NaN
396,Class #2 with 30 students,1-3,2018-11-30,2018-11-30,NaN
397,Class #1 with 30 students,1-3,2018-11-30,2018-11-30,NaN
398,Class #2 with 30 students,15+,2018-11-30,2018-11-30,NaN
399,Class #1 with 30 students,1-3,2018-11-30,2018-11-30,NaN
400,Class #2 with 30 students,11-15,2018-11-30,2018-11-30,NaN
401,Class #1 with 30 students,6-10,2018-11-30,2018-11-30,NaN
402,Class #2 with 30 students,3-5,2019-03-25,2019-03-25,50.000000
404,Korea demo,3-5,2019-02-09,2019-02-22,35.250000
406,odd level,1-3,2018-12-07,2018-12-07,18.000000
407,Jesper Grade 9,3-5,2018-12-10,2018-12-13,32.666667
408,1.7.0.0,1-3,2018-12-10,2018-12-10,11.000000
409,Class 3A,3-5,2019-01-17,2019-01-17,10.000000
411,1.8.1.0,1-3,2018-12-19,2018-12-19,13.000000
412,Pilot Test A,1-3,2018-12-20,2018-12-21,20.666667
414,Pilot Test B,1-3,2018-12-20,2018-12-21,27.666667
415,Pilot Test C,1-3,2018-12-20,2018-12-21,31.500000
416,Pilot Test D,1-3,2018-12-20,2018-12-21,32.500000
417,Pilot Test E,1-3,2018-12-20,2018-12-21,38.500000
418,level 5 and 4 test,3-5,2018-12-20,2018-12-20,NaN
421,MEA Sutera Utama Placement Test,1-3,2018-12-29,2019-01-05,27.250000
423,MEA Gaya Year 1 Camel,1-3,2019-01-04,2019-01-16,23.000000
424,MEA Gaya Year 2 Ape,1-3,2019-01-04,2019-01-05,19.400000
425,MEA Gaya Year 3 Beaver,1-3,2019-01-04,2019-01-05,27.250000
427,ä¸Šæµ·å’Œå¹³åŒè¯­å­¦æ ¡ For Alison,1-3,2019-01-08,2019-01-20,33.000000
428,MEA Sutera Year 3 Dragonfly,1-3,2019-01-08,2019-01-12,30.000000
429,MEA Sutera Year 5 Avocado,1-3,2019-01-08,2019-01-10,31.000000
430,ECC_SK_JAN_2019,1-3,2019-01-09,2019-01-13,19.000000
432,åŒ—å¤–é’å°‘ For Ellen,3-5,2019-01-11,2019-01-24,26.666667
433,MEA Gaya Year 4 Dolphin,1-3,2019-01-11,2019-01-12,25.000000
437,MEA Sutera Year 1 Garfield,1-3,2019-01-15,2019-01-16,18.000000
438,MEA Seri Alam Year 2 Lady Bug,1-3,2019-01-19,2019-01-19,25.857143
439,MEA Gaya Placement Test,1-3,2019-02-02,2019-02-04,25.750000
440,MEA Mount Austin Placement Test,1-3,2019-03-02,2019-03-06,31.200000
441,MEA Setia Eco Year 3 Dill,1-3,2019-01-16,2019-01-18,32.000000
443,MEA Sutera Year 6 Quillfish,1-3,2019-01-17,2019-01-17,45.000000
444,Rebecca Class 1,3-5,2019-01-18,2019-01-29,27.000000
448,Pilotos IvÃ¡n Tavera Colombia,6-10,2019-01-23,2019-01-23,25.500000
450,MEA Nusantara Placement Test,1-3,2019-02-19,2019-02-23,27.666667
454,HS 6T Feb2019--6th Grade,1-3,2019-02-08,2019-02-15,20.323529
455,HS 6M Feb2019--6th Grade,1-3,2019-02-08,2019-02-15,20.722222
457,Class Hyatt Bangkok,6-10,2019-02-12,2019-02-12,39.000000
458,MEA Seri Alam One To One (Shelbie),1-3,2019-02-14,2019-02-19,27.000000
464,MEA Mutiara Rini Placement Test,1-3,2019-02-16,2019-02-20,28.000000
465,Class Test 1,6-10,2019-02-18,2019-02-18,23.000000
466,MEA Mount Austin Year 5 Mackerel,1-3,2019-02-21,2019-02-22,33.000000
467,MEA Mount Austin Year 4 Cheetah,1-3,2019-02-21,2019-02-22,29.000000
468,Nestor,6-10,2019-02-21,2019-02-26,39.000000
470,Hisar Schools,6-10,2019-02-22,2019-02-24,45.500000
471,æ±Ÿè‹åœ°åŒº For Jingwen,3-5,2019-02-25,2019-02-28,27.000000
475,MEA Bukit Indah Year 4 Pomegranate,1-3,2019-02-26,2019-03-13,29.000000
476,MEA Bukit Indah Placement Test,1-3,2019-03-12,2019-03-14,28.000000
477,MEA Sutera Year 2 Dragonfly,1-3,2019-02-26,2019-03-28,29.500000
478,MEA Pelangi Year 4 Sat 2nd Class,1-3,2019-02-26,2019-03-30,36.000000
479,MEA Nusantara Year 1 Jackfruit,1-3,2019-02-26,2019-04-06,21.000000
480,MEA Nusantara Year 4 Eagle,1-3,2019-02-26,2019-03-26,28.333333
481,MEA Kulai Placement Test,1-3,2019-02-27,2019-02-28,24.000000
484,Cekmekoy 1-A,6-10,2019-03-04,2019-03-05,17.416667
486,MEA Bukit Indah One to One Daniel,1-3,2019-03-06,2019-03-11,38.000000
487,5 th A 2019,6-10,2019-03-06,2019-03-07,28.500000
488,5th B 2019,6-10,2019-03-06,2019-03-08,28.608696
489,GEMS WSO Demo,6-10,2019-03-07,2019-03-07,33.000000
490,1:00 AM,3-5,2019-03-08,2019-04-05,24.500000
491,01. Primero 1,3-5,2019-03-09,2019-03-12,15.666667
492,02. Primero 2,3-5,2019-03-09,2019-03-12,15.533333
493,03. Segundo 1,3-5,2019-03-09,2019-03-12,16.176471
494,04. Segundo 2,3-5,2019-03-09,2019-03-12,17.533333
495,05. Tercero 1,3-5,2019-03-09,2019-03-11,23.266667
496,06. Tercero 2,3-5,2019-03-09,2019-03-11,21.750000
497,07. Cuarto 1,3-5,2019-03-09,2019-03-12,25.600000
498,08. Quinto 1,3-5,2019-03-09,2019-03-12,26.285714
499,09. Quinto 2,3-5,2019-03-09,2019-03-11,24.533333
500,10. Sexto 1,3-5,2019-03-09,2019-03-11,28.666667
501,11. Sexto 2,3-5,2019-03-09,2019-03-12,31.750000
503,First Pilot Test Students,3-5,2019-03-18,2019-03-18,27.320000
508,MEA Bukit Indah Year 2 Leopard,1-3,2019-03-12,2019-03-26,25.000000
509,1 B,3-5,2019-03-12,2019-04-05,24.227273
510,1C,3-5,2019-03-12,2019-04-09,24.090909
511,1D,3-5,2019-03-12,2019-04-05,24.800000
512,1E,3-5,2019-03-12,2019-04-08,24.318182
513,2A,3-5,2019-03-12,2019-04-10,32.454545
514,2B,3-5,2019-03-12,2019-04-10,31.285714

### TASK 5

In [88]:
# SAVE TO CSV
test_utilization.to_csv("test_utilization.csv", index=False)
test_average_scores.to_csv("test_average_scores.csv", index=False)

### TASK 6

In [ ]:
import pymysql

In [ ]:
# Connect to SQL server

In [ ]:
connection = pymysql.connect(
            host="",
            user="",
            passwd="",
            db="",
        )

In [ ]:
# Create table

with connection.cursor() as cursor:
    sql_query = ("""
            CREATE TABLE TestUtilization (
            ClassID int,
            ClassName varchar(255),
            TeachingHours varchar(10),
            TestID int,
            TestCreatedAt DATE,
            TestAuthorizedAt DATE,
            TestLevel varchar(10),
            ClassTestNumber FLOAT(5),
        );
    """
    cursor.execute(sql_query)
    self.connection.commit()

In [ ]:
df = pd.read_csv('test_utilization.csv')

In [ ]:
# Insert into table

with self.connection.cursor() as cursor:
    for i in range(10):
        class_id = df["class_id"][i]
        class_name = df["class_name"][i]
        teaching_hours = df["teaching_hours"][i]
        test_id = df["test_id"][i]
        test_created_at = df["test_create_at"][i]
        test_authorized_at = df["test_authorized_at"][i]
        test_level = df["test_level"][i]
        class_test_number = df["class_test_number"][i]
        sql_query = (
        f"""INSERT IGNORE INTO `TestUtilization` (ClassId, ClassName, TeachingHours, TestID, 
            TestCreatedAt, TestAuthorizedAt, TestLevel, ClassTestNumber) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)""")
        val = (class_id, class_name, teaching_hours, test_id, test_created_at, test_authorized_at, test_level, class_test_number)
        cursor.execute(sql_query, val)
        self.connection.commit()